


.symple {
    color: white;
    background-color: blue;
    margin-bottom: 250px;
    
    
}

.symple h3 {
    padding: 20px;
}

.blue {
    background-color: blue;
    border: 2px solid black;
    margin-right: 1200px;
    padding-bottom: 600px;
}

.main {
    margin-bottom: 250px;
}